[user]
  user = ulken
  name = Oskar Löfgren
  email = islander.abroad@gmail.com
[credential]
  helper = osxkeychain
[core]
  autocrlf = input
  excludesfile = ~/.gitexcludes
[push]
  default = simple
